<div class="row">
	<main class="col-md-12">
	  <br>
	  <h1>Welcome to the About Page</h1>
	  <p>
		Hey! Thank you for visiting this page. <br> On this page, you will find an introduction about myself, my academic background, 
		and information about the Web Development Assignment 3.
	  </p>
	  <br>
  
	  <h2>About the Webpage</h2><br>
	  <p> 
		My name is Varsha Maria Alex, a student at Seneca College in Toronto. My student ID is 180085235. I am currently enrolled in the 
		Business Information Technology program. This assignment is part of the Web Programming course, where I am learning about JavaScript, 
		Node.js, Express.js, EJS, and HTML.
	  </p>
	  <p>
		In this assignment, I am creating an Express.js server integrated with EJS views to render dynamic content.
	  </p>
	</main>
  </div>
  