<div class="container mt-4">
    <h2>Add a New Course</h2>
  
    <form class="p-4 rounded-lg shadow-xl bg-light border border-secondary" method="POST" action="/courses/add">
      <div class="form-group">
        <label for="courseCode">Course Code</label>
        <input type="text" class="form-control" id="courseCode" name="courseCode" required>
      </div>
  
      <div class="form-group">
        <label for="courseDescription">Course Description</label>
        <input type="text" class="form-control" id="courseDescription" name="courseDescription" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
  </div>
  