<div class="container mt-4">
    <h1 class="text-center">Welcome to WEB700 - Assignment 6</h1>
    <hr>
    <p>
      Welcome to my website. This website is designed to demonstrate a simple Express.js web server using fundamental HTML5 principles and techniques.
    </p>
    <p>
      This site consists of <strong>3 static views</strong> (<a href="/home">Home</a>,
      <a href="/about">About</a>, and <a href="/htmlDemo">HTML Demo</a>) as well as
      <strong>5 routes</strong> that supply data, including: All Students, Students by Course, A Single Student By Student Number, All Managers, and All Courses.
    </p>
  
    <p>Here you can navigate through the following links:</p>
    <ul>
      <li><a href="/students">All Students</a></li>
      <li><a href="/students?course=3">Students by Course</a></li>
      <li><a href="/student/2">A Single Student by Student Number</a></li>
      <li><a href="/tas">All Managers</a></li>
      <li><a href="/courses">All Courses</a></li>
    </ul>
  
    <h2>Introduction to HTML5</h2>
    <p>
      HTML stands for HyperText Markup Language. It is the standard language used to create and structure content on the web.
      HTML is a markup language, not a programming language, meaning it annotates text to define how it is structured and displayed by web browsers.
      It forms the building blocks of all websites and is complemented by CSS for style and JavaScript for interactivity.
    </p>
  </div>
  