<div class="container mt-4">
	<div class="row">
	  <main class="col-md-12">
		<h1>Tables</h1>
		<hr>
		<p>This section demonstrates the use of tables in HTML, including captions, table headers, row, and column spanning.</p>
  
		<table class="table table-bordered">
		  <caption>Table 1: Pet Animals</caption>
		  <thead class="thead-dark">
			<tr><th>Dog</th><th>Cat</th><th>Rabbit</th></tr>
		  </thead>
		  <tbody>
			<tr><td>Husky</td><td>Russian Blue</td><td>Mini Lop</td></tr>
			<tr><td>Shih Tzu</td><td>Maine Coon</td><td>Californian Rabbit</td></tr>
			<tr><td>Poodle</td><td>Munchkin Cat</td><td>Rex Rabbit</td></tr>
		  </tbody>
		  <tfoot>
			<tr><td colspan="3">These are some pet animal breeds</td></tr>
		  </tfoot>
		</table>
  
		<table class="table table-bordered mt-4">
		  <caption>Table 2: Country and Capital</caption>
		  <thead class="thead-dark">
			<tr><th>Country</th><th>Capital</th></tr>
		  </thead>
		  <tbody>
			<tr><td>India</td><td>New Delhi</td></tr>
			<tr><td>Canada</td><td>Ottawa</td></tr>
			<tr><td>Australia</td><td>Canberra</td></tr>
		  </tbody>
		  <tfoot>
			<tr><td colspan="2">Some major countries and their capitals</td></tr>
		  </tfoot>
		</table>
  
		<h1 class="mt-4">List Section: List of Colors</h1>
		<hr>
		<ul style="list-style-type: disc; padding-left: 20px;">
		  <li>Red</li>
		  <li>Green</li>
		  <li>Blue
			<ol>
			  <li>Turquoise</li>
			  <li>Sky Blue</li>
			  <li>Cyan</li>
			</ol>
		  </li>
		  <li>Bronze Brown</li>
		  <li>Burnt Umber</li>
		</ul>
  
		<p>In this section, I have shown a list of some common colors.</p>
  
		<h1 class="mt-4">Images</h1>
		<hr>
		<p>Below are some images sourced from Wikimedia Commons.</p>
		<div class="media-section">
		  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Snowboarder_in_halfpipe.jpg/800px-Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe" width="300">
		  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/A_beautiful_road_with_leaves_falling.jpg" alt="A beautiful road with leaves falling" width="300">
		  <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Cute_dog.jpg" alt="Cute dog" width="300">
		</div>
  
		<h1 class="mt-4">Audio</h1>
		<hr>
		<p>Click play to listen to the audio sample</p>
		<audio controls>
		  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
		  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
		</audio>
  
		<h1 class="mt-4">Video</h1>
		<hr>
		<p>Here demonstrating how a video is embedded in HTML.</p>
		<video width="640" height="360" controls>
		  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
		  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
		  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
		</video>
	  </main>
	</div>
  </div>
  